<<<<<<< HEAD
=======
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, black, #7027f9);
  border-radius: 10px;
}
>>>>>>> 9f9e620819c10a9dc220b837b0e34fb8aa369ddd
